# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ncb
*.sdf
*.opensdf
*.suo
*.idb
*.pdb
*.user
*.obj
*.orig
*.vcproj
*.vcproj.vspscc
*.vcxproj.vspscc
*.mode1v3

Debug/
Release/
Public/
debug/
release/
public/
Resources/
Logs/
JSONCPP/
